.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-news_row {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  height: 35px;
  text-align: left;
  padding: 20px 0px 0px 100px;
}
.NoLink {
  color: inherit; /* blue colors for links too */
  text-decoration: none;
}

.App-news_row:hover {
  background-color: #fafafa;
}
.App-news_row_title {
  color: #333;
  font-size: 13pt;
}

.grid_parent {
  display: grid;
  grid-template-columns: 4fr repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  }
  
  .title { grid-area: 1 / 1 / 2 / 2; }
  .date { grid-area: 1 / 2 / 2 / 3; }
  .action { grid-area: 1 / 3 / 2 / 4; cursor: pointer; }

.App-news_row_author {
  color: #999;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
